/* IIIIIIIIIIIIIIIIIIIIIIIIIIIII	MENU	IIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
  font-family: Montserrat, sans-serif;
  background: #333333;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu > ul > li > a {
  padding: 17px;
  font-size: 12px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #dddddd;
  font-weight: 700;
  text-transform: uppercase;
}
#cssmenu > ul > li:hover > a {
  color: #ffffff;
}
#cssmenu > ul > li.has-sub > a {
  padding-right: 30px;
}
#cssmenu > ul > li.has-sub > a:after {
  position: absolute;
  top: 22px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #dddddd;
  content: '';
}
#cssmenu > ul > li.has-sub > a:before {
  position: absolute;
  top: 19px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #dddddd;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#cssmenu > ul > li.has-sub:hover > a:before {
  top: 23px;
  height: 0;
}
#cssmenu ul ul {
  position: absolute;
  left: -9999px;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu ul ul li {
  height: 0;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#cssmenu li:hover > ul {
  left: auto;
}
#cssmenu.align-right li:hover > ul {
  left: auto;
  right: 0;
}
#cssmenu li:hover > ul > li {
  height: 35px;
}
#cssmenu ul ul ul {
  margin-left: 100%;
  top: 0;
}
#cssmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
#cssmenu ul ul li a {
  border-bottom: 1px solid rgba(150, 150, 150, 0.15);
  padding: 11px 15px;
  width: 170px;
  font-size: 12px;
  text-decoration: none;
  color: #dddddd;
  font-weight: 400;
  background: #333333;
}
#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last-item > a {
  border-bottom: 0;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  color: #ffffff;
}
#cssmenu ul ul li.has-sub > a:after {
  position: absolute;
  top: 16px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #dddddd;
  content: '';
}
#cssmenu.align-right ul ul li.has-sub > a:after {
  right: auto;
  left: 11px;
}
#cssmenu ul ul li.has-sub > a:before {
  position: absolute;
  top: 13px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #dddddd;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#cssmenu.align-right ul ul li.has-sub > a:before {
  right: auto;
  left: 14px;
}
#cssmenu ul ul > li.has-sub:hover > a:before {
  top: 17px;
  height: 0;
}
@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  #cssmenu {
    width: 100%;
  }
  #cssmenu ul {
    width: 100%;
    display: none;
  }
  #cssmenu.align-center > ul {
    text-align: left;
  }
  #cssmenu ul li {
    width: 100%;
    border-top: 1px solid rgba(120, 120, 120, 0.2);
  }
  #cssmenu ul ul li,
  #cssmenu li:hover > ul > li {
    height: auto;
  }
  #cssmenu ul li a,
  #cssmenu ul ul li a {
    width: 100%;
    border-bottom: 0;
  }
  #cssmenu > ul > li {
    float: none;
  }
  #cssmenu ul ul li a {
    padding-left: 25px;
  }
  #cssmenu ul ul ul li a {
    padding-left: 35px;
  }
  #cssmenu ul ul li a {
    color: #dddddd;
    background: none;
  }
  #cssmenu ul ul li:hover > a,
  #cssmenu ul ul li.active > a {
    color: #ffffff;
  }
  #cssmenu ul ul,
  #cssmenu ul ul ul,
  #cssmenu.align-right ul ul {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: left;
  }
  #cssmenu > ul > li.has-sub > a:after,
  #cssmenu > ul > li.has-sub > a:before,
  #cssmenu ul ul > li.has-sub > a:after,
  #cssmenu ul ul > li.has-sub > a:before {
    display: none;
  }
  #cssmenu #menu-button {
    display: block;
    padding: 17px;
    color: #dddddd;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
  }
  #cssmenu #menu-button:after {
    position: absolute;
    top: 22px;
    right: 17px;
    display: block;
    height: 4px;
    width: 20px;
    border-top: 2px solid #dddddd;
    border-bottom: 2px solid #dddddd;
    content: '';
  }
  #cssmenu #menu-button:before {
    position: absolute;
    top: 16px;
    right: 17px;
    display: block;
    height: 2px;
    width: 20px;
    background: #dddddd;
    content: '';
  }
  #cssmenu #menu-button.menu-opened:after {
    top: 23px;
    border: 0;
    height: 2px;
    width: 15px;
    background: #ffffff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #cssmenu #menu-button.menu-opened:before {
    top: 23px;
    background: #ffffff;
    width: 15px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #cssmenu .submenu-button {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid rgba(120, 120, 120, 0.2);
    height: 46px;
    width: 46px;
    cursor: pointer;
  }
  #cssmenu .submenu-button.submenu-opened {
    background: #262626;
  }
  #cssmenu ul ul .submenu-button {
    height: 34px;
    width: 34px;
  }
  #cssmenu .submenu-button:after {
    position: absolute;
    top: 22px;
    right: 19px;
    width: 8px;
    height: 2px;
    display: block;
    background: #dddddd;
    content: '';
  }
  #cssmenu ul ul .submenu-button:after {
    top: 15px;
    right: 13px;
  }
  #cssmenu .submenu-button.submenu-opened:after {
    background: #ffffff;
  }
  #cssmenu .submenu-button:before {
    position: absolute;
    top: 19px;
    right: 22px;
    display: block;
    width: 2px;
    height: 8px;
    background: #dddddd;
    content: '';
  }
  #cssmenu ul ul .submenu-button:before {
    top: 12px;
    right: 16px;
  }
  #cssmenu .submenu-button.submenu-opened:before {
    display: none;
  }
}
/* IIIIIIIIIIIIIIII    TERMINA MENU    IIIIIIIIIIIIIIIIIIIIIIII*/





.container{
	width:500px;
	height:320px;
	padding:5px;
	border:1px solid gray;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
    background: black;
	position:relative;
	z-index:2;
}
.image-slider-wrapper{
	overflow: hidden;
}
#image_slider{
	position: relative;
	overflow: hidden;
	height: 280px;
	padding:0;
	left:0;
}
#image_slider li{
	position:relative;
	max-width: 100%;
	float:left;
	list-style: none;
	left: 0;
}

#loged{
	width:45%;
	margin-left:20%;
	text-align: center;
	font-size: 14px;
	padding:20px;
}

a:visited {
    color: #00FF00;
}

.cuadro{
	position:relative;
	margin-left: 10%;
	margin-top: 2%;
	background-color: #FFFFFF;
	width: 80%;
	padding: 2;
	font-size: 12px;
	z-index: 999;
}

.readonly{
	background-color: #B6B6B4;	
}



fieldset{
	font-size:  8px;
	border-color: #3F3F3F;
}

legend {
  padding: 0.2em 0.5em;
  border:1px solid red;
  color: black;
  font-size: 12em;
  font-weight: bold;
  text-align:center;
  background-color: white;
  
  -moz-border-radius-bottomleft:10px;
	-webkit-border-bottom-left-radius:10px;
	border-bottom-left-radius:10px;
	
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
	border-bottom-right-radius:10px;
	
	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius:10px;
	border-top-right-radius:10px;
	
	-moz-border-radius-topleft:10px;
	-webkit-border-top-left-radius:10px;
	border-top-left-radius:10px;
  }

#formulario{
	margin-left:1%;
	background: #333;
	width: auto; 
	font-size: 14px;
	
}

body {
	background: url(../imagen/white.jpg) no-repeat center fixed;
    margin: 0;
    color: #fff;
}
    body * {
        font-family: helvetica, sans-serif;
		font-size: 14px;
    }

.tablaForm {
	
	background: #333;
	width: 90%;
}

.texto{
	padding: 5px 3px 3px 5px;
	height: 100px;
}
input,
textarea,
select {
    border: 1px solid #111;
    padding: 0.5em;
    font-size: 15px;
    line-height: 1.2em;
    width: 80%;
    background: #444;
    color: #fff;
    font-family: helvetica, sans-serif;
    background: -webkit-gradient(linear, left top, left bottom, from(#222), to(#444));
    -webkit-appearance: none;
    /*box-shadow*/
    -webkit-box-shadow: 1px 1px 1px #333;
    -moz-box-shadow: 1px 1px 1px #333;
    box-shadow: 1px 1px 1px #333;
}
input:focus,
textarea:focus,
select:focus { outline-color: #c00 }
textarea {
    height: 55px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #222), color-stop(0.05, #333));
	background: -moz-gradient(linear, left top, left bottom, color-stop(0, #222), color-stop(0.05, #333));
	background: -o-gradient(linear, left top, left bottom, color-stop(0, #222), color-stop(0.05, #333));
	background: -ms-gradient(linear, left top, left bottom, color-stop(0, #222), color-stop(0.05, #333));
	background: gradient(linear, left top, left bottom, color-stop(0, #222), color-stop(0.05, #333));
}

select {
    padding: 0.5em 1em 0.5em 0.75em;
    background: #444 url("data:image/png,%89PNG%0D%0A%1A%0A%00%00%00%0DIHDR%00%00%0C%80%00%00%00%40%08%02%00%00%00W%AEz%EF%00%00%00%19tEXtSoftware%00Adobe%20ImageReadyq%C9e%3C%00%00%06CIDATx%DA%EC%DDMk%94W%18%06%E0g%26%A3%B6EM%D4%18%AD%FDp(%B4j%A1%26%C5%8D%3B%C7%95%81J%CD%AA%A0t%11i%F7%FA%0F%8C%FF%C0%7F%90q%E72n%BBq%DCtQ%10%26%B6%94F%A4Djm%EAg%02j%A3%C6%9C%CAXJ%91d%9C%19%CA%0C9%5E%17%EF%EE%3D%EFy%E1%5E%DF%3CO%E1%C0%81%03%01%00%00%00%00%00%00%00%00%B0%F6%7D%7B%E5J%97%FFX%14%3A%00%00%00%00%00%00%00%00%40g%14%B0%00%00%00%00%00%00%00%00%00%3AT%12%01%00%00%00%00%00%00%00%00%90%87%D4%F5%3F%96RJr%07%00%00%00%00%00%00%00%00%E8%80%09X%00%00%00%00%00%00%00%00%40%26z0%01K%E8%00%00%00%00%00%00%00%00%40%1E%BA_%C0*%0A%1D%00%00%00%00%00%00%00%00%A03%26%60%01%00%00%00%00%00%00%00%00%99%E8%C1%0A%C2%94%92%DC%01%00%00%00%00%00%00%00%00%3A%60%02%16%00%00%00%00%00%00%00%00%90%89%1EL%C0%12%3A%00%00%00%00%00%00%00%00%90%87%EE%17%B0%8AB%07%00%00%00%00%00%00%00%00%E8L)%A5%24%05%00%00%00%00%00%00%00%00%20%03V%10%02%00%00%00%00%00%00%00%00t%C8%0AB%00%00%00%00%00%00%00%00%805%C3%04%2C%00%00%00%00%00%00%00%00%20%13%3DXA%98R%92%3B%00%00%00%00%00%00%00%00%90%81%1E%14%B0%84%0E%00%00%00%00%00%00%00%00%E4%A1%FB%05%AC%A2%D0%01%00%00%00%00%00%00%00%00%3Ac%05!%00%00%00%00%00%00%00%00%90%09%2B%08%01%00%00%00%00%00%00%00%00%3Ad%05!%00%00%00%00%00%00%00%00%40%87RG%CF%FA%81%81%2F%AA%D5O*%95%0D%11%856%BF%ED%1B%1A%1A%92%3B%00%00%00%00%00%00%00%00%90%81%FD%B7o%B7%FB%C9%8E%91%91%13%B5%DA%FB%87%0E%ED%1D%1F%DFZ(%DC%AE%D5%9EE%2C%B7%FC%B9%09X%00%00%00%00%00%00%00%00%40%26%DA%9D%7D%B5%7F%7C%FCx%AD%B6i%F7%EE%97%9F%7F%7C%E6%CC%D8%D4%D4%7B%03%03%EBZ%BEA%01%0B%00%00%00%00%00%00%00%00%C8D%5B%ED%AB%A3%D5%EA%E8%E4%E4%FA%FE%FE%FF%DE%B0%ED%D8%B1%2Fk%B5OGF%DEn%EDB%2B%08%01%00%00%00%00%00%00%00%80L%7C%D6%DA%0A%C2%81r%F9%EBZ%AD%7C%E4%C8%8Ao%D7%ED%DC%F9%D1%F1%E3%1B%E6%E6%EE%D4%EB%AF%5DGh%02%16%00%00%00%00%00%00%00%00%90%89V%06_%ED%AET%BE%A9%D7%B7%0F%0F7%B9%A7%D8%DF%FF%F9%E4%E4%D1s%E7%B6F%F4YA%08%00%00%00%00%00%00%00%00%F0%C2%A1%89%89%13%97.%BD%B2vp5%1F%9C%3A%F5U%AD%F6%E1%C0%C0%86%D5%CF%94RJb%05%00%00%00%00%00%00%00%002%D0%BC%0B5P.%AF%8B%989%7Bvk%C4%3B%8D%D1V%85%A6%E7%97%1B%CF%F0%D8%D8%C3j%F5%5E%C4%D2JgJB%07%00%00%00%00%00%00%00%00%F2%D0%BC%80%B50%3B%FB%C3%C4%C4%BB%11%5BZ.N-G%3Cj%EC%19%2C%ACr%B9%02%16%00%00%00%00%00%00%00%00%90%89%E6%05%AC%97m%AA%DF%22n%B5y%E7%B3%C6%F8%2B%05%2C%00%00%00%00%00%00%00%00%20g%E9uo%9F4%9E%FFQ)%A5%24w%00%00%00%00%00%00%00%00%20%03%DD%EFB%15%85%0E%00%00%00%00%00%00%00%00%D0%19%2B%08%01%00%00%00%00%00%00%00%80Lt%7F%02%96%15%84%00%00%00%00%00%00%00%00%40%26zP%C0%12%3A%00%00%00%00%00%00%00%00%90%87%E6%05%AC%5D%23%23'k%B5%0D%FD%FD%AD_%F8ta%E1%D2%F8%F8%D5%A9%A9%C7%11%CFW%3AP%14%3A%00%00%00%00%00%00%00%00%90%87%D4%F4%99%AB%D7%CF%97%CB%F7%2F_n%F1%B6%A5%1B7nV*%7DSS%9B%22%0A%AB%DC%D9788(w%00%00%00%00%00%00%00%00%20%03%FB%EE%DEm~%60iq%F1%CFju%C7%96-%1B%0F%1El~2%5D%BC%F8ht%F4%EE%EC%EC%CD%88%DB%11%8B%11%CB%2B%1D3%01%0B%00%00%00%00%00%00%00%00%C8D%F3%09X%CF%23%1EF%FC%1Aq%F1%F4%E9%99%93'%97%17%16V%BBg%F9%EC%D9%3Bcc%3F%CF%CF_%89%B8%16%F1%E2%DC%D2*w*%60%01%00%00%00%00%00%00%00%00o%8A%14%F1%24%E2V%C4w%D5%EA%F7%95%CA%D3%E9%E9WO%2C%2C%3C%3B%7C%F8%E6%C4%C4%8F%11%F5%88%1B%11%8FW%99%7D%F5R%DF%B6m%DB%C4%0A%00%00%00%00%00%00%00%00d%60%DF%BD%7B%AD%1C%7B%1E%F1W%C4%9D%B9%B9%7B%17.%EC%DA%B7%EF%AD%BD%7B%FFy1%3D%FD%B8R%B9Q%AF%FF%14%F1%CB%8B%03%11O%1B%9D%AD%26%FA%06%07%07%E5%0E%00%00%00%00%00%00%00%00d%60ok%05%ACh%0C%B5z%12%F1%60q%F1%F7%0B%17%B6%17%0A%9B%2B%95%E7%E7%CF%CF%8F%8E%5E%9F%9F%BF%1Aq%3Db%BE%D1%D3z%AD%C2%9E%3D%7B%E4%0E%00%00%00%00%00%00%00%00d%60lf%A6%AD%F3%85%88%F5%11C%11%C3%E5%F2%E6%D9%D9%FB%11%D7%22%FE%88X%7C%DD%E0%AB%7F%95RJr%07%00%00%00%00%00%00%00%002%90%DA%3F%BF%18q%2B%E2%D1%EC%EC%C6%88%C7%8D%C1W%CF%DA%B9%A1%24t%00%00%00%00%00%00%00%00%E0M%B6%14q%3F%E2A%A3%8F%D5n%85K%01%0B%00%00%00%00%00%00%00%00%C8D%EA%FA%87V%10%02%00%00%00%00%00%00%00%00%99%E8~%17%CA%04%2C%00%00%00%00%00%00%00%00%20%13%DD%2F%60%15%85%0E%00%00%00%00%00%00%00%00%D0%19%13%B0%00%00%00%00%00%00%00%00%80L%F4%60%05aJI%EE%00%00%00%00%00%00%00%00%40%06zP%C0%12%3A%00%00%00%00%00%00%00%00%90%87%EE%17%B0%8AB%07%00%00%00%00%00%00%00%00%E8%8C%09X%00%00%00%00%00%00%00%00%40%26z%B0%820%A5%24w%00%00%00%00%00%00%00%00%20%03V%10%02%00%00%00%00%00%00%00%00%AC%19V%10%02%00%00%00%00%00%00%00%00%99%E8%C1%0AB%A1%03%00%00%00%00%00%00%00%00y%B0%82%10%00%00%00%00%00%00%00%00%60%CD(%A5%94%A4%00%00%00%00%00%00%00%00%00d%C0%04%2C%00%00%00%00%00%00%00%00%805%A3%24%02%00%00%00%00%00%00%00%00%20%0F%DD%9F%80%F5%B7%00%03%00%FF%B1%B68%FB%14rt%00%00%00%00IEND%AEB%60%82") no-repeat right center;
    /*background-size*/
    -webkit-background-size: 1600px 32px;
    -moz-background-size: 1600px 32px;
    -o-background-size: 1600px 32px;
    background-size: 1600px 32px;
}

input[type=text] { 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #333), color-stop(0.12, #333));
	background: -moz-gradient(linear, left top, left bottom, color-stop(0, #333), color-stop(0.12, #333));
	background: -o-gradient(linear, left top, left bottom, color-stop(0, #333), color-stop(0.12, #333));
	background: -ms-gradient(linear, left top, left bottom, color-stop(0, #333), color-stop(0.12, #333));
	background:  gradient(linear, left top, left bottom, color-stop(0, #333), color-stop(0.12, #333));
}
input[type=submit] {
    width: 150px;
	margin-left: 45%;
	margin-right: 45%;
    /*padding: 0.25em 1em;*/
    line-height: 1.5em;
    background: -webkit-gradient(linear, left top, left bottom, from(#a00), to(#600));
	background: -moz-gradient(linear, left top, left bottom, from(#a00), to(#600));
	background: -o-gradient(linear, left top, left bottom, from(#a00), to(#600));
	background: -ms-gradient(linear, left top, left bottom, from(#a00), to(#600));
	background: gradient(linear, left top, left bottom, from(#a00), to(#600));
    border: 2px solid #c00;
    text-shadow: 0 0 2px #300;
    font-weight: bold;
	font-size: 16px;
    /*box-shadow*/
    -webkit-box-shadow: 1px 1px 3px #000;
    -moz-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    margin-right: 0.5em;
}
input[type=reset] {
    width: auto;
    padding: 0.25em 1em;
    line-height: 1.5em;
    background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#333));
	background: -moz-gradient(linear, left top, left bottom, from(#333), to(#333));
	background: -o-gradient(linear, left top, left bottom, from(#333), to(#333));
	background: -ms-gradient(linear, left top, left bottom, from(#333), to(#333));
	background: gradient(linear, left top, left bottom, from(#333), to(#333));
    border: 2px solid #444;
    text-shadow: 0 0 2px #300;
    font-weight: bold;
    color: #999;
    /*box-shadow*/
    -webkit-box-shadow: 1px 1px 3px #000;
    -moz-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}


input[type=button] {
    width: 200px;
	margin-left: 45%;
	margin-right: 45%;
    /*padding: 0.25em 1em;*/
    line-height: 1.5em;
    background: -webkit-gradient(linear, left top, left bottom, from(#a00), to(#600));
	background: -moz-gradient(linear, left top, left bottom, from(#a00), to(#600));
	background: -o-gradient(linear, left top, left bottom, from(#a00), to(#600));
	background: -ms-gradient(linear, left top, left bottom, from(#a00), to(#600));
	background: gradient(linear, left top, left bottom, from(#a00), to(#600));
    border: 2px solid #c00;
    text-shadow: 0 0 2px #300;
    font-weight: bold;
	font-size: 16px;
    /*box-shadow*/
    -webkit-box-shadow: 1px 1px 3px #000;
    -moz-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    margin-right: 0.5em;
}

/*	IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII 	Table Style - This is what you want	IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII*/
.tablaReport {
	margin:0px;padding:0px;
	width:100% auto;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.tablaReport table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.tablaReport tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.tablaReport table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.tablaReport table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.tablaReport tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.tablaReport tr:hover td{
	
}
.tablaReport tr:nth-child(odd){ background-color:#ffffff; }
.tablaReport tr:nth-child(even)    { background-color:#d6d6d6; }.tablaReport td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.tablaReport tr:last-child td{
	border-width:0px 1px 0px 0px;
}.tablaReport tr td:last-child{
	border-width:0px 0px 1px 0px;
}.tablaReport tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.tablaReport tr:first-child td{
	background:-o-linear-gradient(bottom, #370072 5%, #000000 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #370072), color-stop(1, #000000) );
	background:-moz-linear-gradient( center top, #370072 5%, #000000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#370072", endColorstr="#000000");	background: -o-linear-gradient(top,#370072,000000);

	background-color:#370072;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Helvetica;
	font-weight:bold;
	color:#ffffff;
}
.tablaReport tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #370072 5%, #000000 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #370072), color-stop(1, #000000) );
	background:-moz-linear-gradient( center top, #370072 5%, #000000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#370072", endColorstr="#000000");	background: -o-linear-gradient(top,#370072,000000);

	background-color:#370072;
}
.tablaReport tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.tablaReport tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;

	
	
	
body {
	position:relative;
	z-index:0;
}
.main:before {
	width:100%;
	height:100%;
	position:absolute;
	top:0px;
	left:0px;
	z-index:-1;
	content:'';
	background:-webkit-radial-gradient(30%, rgba(255,255,255,0.15), rgba(0,0,0,0)), url('img/body-bg.png');
	background:-moz-radial-gradient(30%, rgba(255,255,255,0.15), rgba(0,0,0,0)), url('img/body-bg.png');
	background:-o-radial-gradient(30%, rgba(255,255,255,0.15), rgba(0,0,0,0)), url('img/body-bg.png');
	background:radial-gradient(30%, rgba(255,255,255,0.15), rgba(0,0,0,0)), url('img/body-bg.png');
}
	
	/*------------------------------------*\
-------- DEMO Code: accordion
\*------------------------------------*/
/*----- Accordion -----*/
.accordion, .accordion * {
	-webkit-box-sizing:border-box; 
	-moz-box-sizing:border-box; 
	box-sizing:border-box;
}

.accordion {
	overflow:hidden;
	box-shadow:0px 1px 3px rgba(0,0,0,0.25);
	border-radius:3px;
	background:#f7f7f7;
}

/*----- Section Titles -----*/
.accordion-section-title {
	width:100%;
	padding:15px;
	display:inline-block;
	border-bottom:1px solid #1a1a1a;
	background:#333;
	transition:all linear 0.15s;
	/* Type */
	font-size:1.200em;
	text-shadow:0px 1px 0px #1a1a1a;
	color:#fff;
}

.accordion-section-title.active, .accordion-section-title:hover {
	background:#4c4c4c;
	/* Type */
	text-decoration:none;
}

.accordion-section:last-child .accordion-section-title {
	border-bottom:none;
}

/*----- Section Content -----*/
.accordion-section-content {
	padding:15px;
	display:none;
}




