html{
  margin: 10px;
}
hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}
input, textarea{
  margin-top: -5px;
  margin-bottom: 10px;
}
legend{
  margin-top: -35px;
  float: right;
  border: solid 1px #9E9E9E;
  border-radius: 45px;
  color: #B40404;
  text-align: center;
  background-color: #fff;
  font-size: 0.8em;
  font-weight: bold;
  width: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

/*--------------------------------------------------------------------------*/

.control{
  top: 350px;
  position: fixed;
  border:  solid 2px #9E9E9E;
  border-radius: 5px;
  padding: 30px;
  background-color: #E0E0E0;
  font-size: 1.3em;
  color: #616161;
  z-index: 8;
}

/*--------------------------------------------------------------------------*/

.fondoTransparencia{
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: #000;
     z-index: 2;
     opacity:.5;
     -moz-opacity: 0.5;
     filter: alpha(opacity=50);
}
.aviso{
  position: fixed;
  border: solid 1px #FF5A5A;
  border-radius: 10px;
  padding: 10px;
  background-color: #FFD3D3;
  color: #FF4848;
  z-index: 9;
}
.success{
  border: solid 1px #1B5E20 !important;
  background-color: #C8E6C9 !important;
  color: #1B5E20 !important;
}

/*--------------------------------------------------------------------------*/

.mainDiv{
  width: 100%;
  background-color: #E0E0E0;
  padding: 15px;
}
.bloque{
  background-color: #fff;
  padding: 20px;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(128,128,128,1);
  -moz-box-shadow: 0px 4px 5px 0px rgba(128,128,128,1);
  box-shadow: 0px 4px 5px 0px rgba(128,128,128,1);
}
.subBloque{
  border:  solid 2px #9E9E9E;
  border-radius: 5px;
  padding: 15px;
  margin-top: 10px;
}

.bloqueViaticos, .bloqueObs{
  margin-top:20px;
}

/*--------------------------------------------------------------------------*/

.ultimoCheque{
  color: #B40404;
  font-size: 1.5em;
  margin-top: -5px;
}

/*--------------------------------------------------------------------------*/

.spanVerde{
  color: #088A08;
}
.spanRojo{
  color: #FF0000;
}
.spanAzul{
  color: #0000FF;
}

/*--------------------------------------------------------------------------*/

.actionButton{
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 20px;
  border: solid 1px;
  border-radius: 5px;
  color: #B40404;
  font-weight: bold;
}
.actionButton:hover,
.actionButton:focus{
  background-color: #FFB1B1;
  border-color: #B40404;
  color: #B40404;
}
.actionButton:focus{
  background-color: #B40404;
  color: #fff;
}

/*--------------------------------------------------------------------------*/
